<hr>
<h3 style="text-align: center;">Products</h3>
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="my-list">
            <img src="http://hpservicecenterschennai.in/images/hp_laptop_service_centers_in_guindy.png" alt="dsadas" />
            <h3><b>HP Core i3 6th Gen</b></h3>
            <span style="text-decoration:line-through;">RS:45K</span>
            <span class="pull-right text-danger">SKU:100022</span>
            <div class="offer">
                <span>
            		<div class="store-item-rating text-warning" style="color: orange;">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
            	</span>
                <span class="pull-right"> <i class="fa fa-eye" style="font-size:12px"> 1000</i></span>
            </div>
            <div class="detail">
                <p>Glyphicons in Bootstrap : Bootstrap Includes over 250 glyphs in font format </p>
                <img src="http://hpservicecenterschennai.in/images/hp_laptop_service_centers_in_guindy.png" alt="dsadas" />
                <a href="#" class="btn btn-info"><span class="glyphicon glyphicon-shopping-cart"></span>Add To Cart</a>
                <a href="#" class="btn btn-info">Deatil</a>
            </div>
        </div>
    </div>

     <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="my-list">
            <img src="http://hpservicecenterschennai.in/images/hp_laptop_service_centers_in_guindy.png" alt="dsadas" />
            <h3><b>HP Core i3 6th Gen</b></h3>
            <span style="text-decoration:line-through;">RS:45K</span>
            <span class="pull-right text-danger">SKU:100022</span>
            <div class="offer">
                <span>
            		<div class="store-item-rating text-warning" style="color: orange;">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
            	</span>
                <span class="pull-right"> <i class="fa fa-eye" style="font-size:12px"> 1000</i></span>
            </div>
            <div class="detail">
                <p>Glyphicons in Bootstrap : Bootstrap Includes over 250 glyphs in font format </p>
                <img src="http://hpservicecenterschennai.in/images/hp_laptop_service_centers_in_guindy.png" alt="dsadas" />
                <a href="#" class="btn btn-info">Add To Cart</a>
                <a href="#" class="btn btn-info">Deatil</a>
            </div>
        </div>
    </div>

     <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="my-list">
            <img src="http://hpservicecenterschennai.in/images/hp_laptop_service_centers_in_guindy.png" alt="dsadas" />
            <h3><b>HP Core i3 6th Gen</b></h3>
            <span style="text-decoration:line-through;">RS:45K</span>
            <span class="pull-right text-danger">SKU:100022</span>
            <div class="offer">
                <span>
            		<div class="store-item-rating text-warning" style="color: orange;">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
            	</span>
                <span class="pull-right"> <i class="fa fa-eye" style="font-size:12px"> 1000</i></span>
            </div>
            <div class="detail">
                <p>Glyphicons in Bootstrap : Bootstrap Includes over 250 glyphs in font format </p>
                <img src="http://hpservicecenterschennai.in/images/hp_laptop_service_centers_in_guindy.png" alt="dsadas" />
                <a href="#" class="btn btn-info">Add To Cart</a>
                <a href="#" class="btn btn-info">Deatil</a>
            </div>
        </div>
    </div>

     <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="my-list">
            <img src="http://hpservicecenterschennai.in/images/hp_laptop_service_centers_in_guindy.png" alt="dsadas" />
            <h3><b>HP Core i3 6th Gen</b></h3>
            <span style="text-decoration:line-through;">RS:45K</span>
            <span class="pull-right text-danger">SKU:100022</span>
            <div class="offer">
                <span>
            		<div class="store-item-rating text-warning" style="color: orange;">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
            	</span>
                <span class="pull-right"> <i class="fa fa-eye" style="font-size:12px"> 1000</i></span>
            </div>
            <div class="detail">
                <p>Glyphicons in Bootstrap : Bootstrap Includes over 250 glyphs in font format </p>
                <img src="http://hpservicecenterschennai.in/images/hp_laptop_service_centers_in_guindy.png" alt="dsadas" />
                <a href="#" class="btn btn-info">Add To Cart</a>
                <a href="#" class="btn btn-info">Deatil</a>
            </div>
        </div>
    </div>

     <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="my-list">
            <img src="http://hpservicecenterschennai.in/images/hp_laptop_service_centers_in_guindy.png" alt="dsadas" />
            <h3><b>HP Core i3 6th Gen</b></h3>
            <span style="text-decoration:line-through;">RS:45K</span>
            <span class="pull-right text-danger">SKU:100022</span>
            <div class="offer">
                <span>
            		<div class="store-item-rating text-warning" style="color: orange;">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
            	</span>
                <span class="pull-right"> <i class="fa fa-eye" style="font-size:12px"> 1000</i></span>
            </div>
            <div class="detail">
                <p>Glyphicons in Bootstrap : Bootstrap Includes over 250 glyphs in font format </p>
                <img src="http://hpservicecenterschennai.in/images/hp_laptop_service_centers_in_guindy.png" alt="dsadas" />
                <a href="#" class="btn btn-info">Add To Cart</a>
                <a href="#" class="btn btn-info">Deatil</a>
            </div>
        </div>
    </div>
     <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="my-list">
            <img src="http://hpservicecenterschennai.in/images/hp_laptop_service_centers_in_guindy.png" alt="dsadas" />
            <h3><b>HP Core i3 6th Gen</b></h3>
            <span style="text-decoration:line-through;">RS:45K</span>
            <span class="pull-right text-danger">SKU:100022</span>
            <div class="offer">
                <span>
            		<div class="store-item-rating text-warning" style="color: orange;">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
            	</span>
                <span class="pull-right"> <i class="fa fa-eye" style="font-size:12px"> 1000</i></span>
            </div>
            <div class="detail">
                <p>Glyphicons in Bootstrap : Bootstrap Includes over 250 glyphs in font format </p>
                <img src="http://hpservicecenterschennai.in/images/hp_laptop_service_centers_in_guindy.png" alt="dsadas" />
                <a href="#" class="btn btn-info">Add To Cart</a>
                <a href="#" class="btn btn-info">Deatil</a>
            </div>
        </div>
    </div>
     <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="my-list">
            <img src="http://hpservicecenterschennai.in/images/hp_laptop_service_centers_in_guindy.png" alt="dsadas" />
            <h3><b>HP Core i3 6th Gen</b></h3>
            <span style="text-decoration:line-through;">RS:45K</span>
            <span class="pull-right text-danger">SKU:100022</span>
            <div class="offer">
                <span>
            		<div class="store-item-rating text-warning" style="color: orange;">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
            	</span>
                <span class="pull-right"> <i class="fa fa-eye" style="font-size:12px"> 1000</i></span>
            </div>
            <div class="detail">
                <p>Glyphicons in Bootstrap : Bootstrap Includes over 250 glyphs in font format </p>
                <img src="http://hpservicecenterschennai.in/images/hp_laptop_service_centers_in_guindy.png" alt="dsadas" />
                <a href="#" class="btn btn-info">Add To Cart</a>
                <a href="#" class="btn btn-info">Deatil</a>
            </div>
        </div>
    </div>
     <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="my-list">
            <img src="http://hpservicecenterschennai.in/images/hp_laptop_service_centers_in_guindy.png" alt="dsadas" />
            <h3><b>HP Core i3 6th Gen</b></h3>
            <span style="text-decoration:line-through;">RS:45K</span>
            <span class="pull-right text-danger">SKU:100022</span>
            <div class="offer">
                <span>
            		<div class="store-item-rating text-warning" style="color: orange;">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
            	</span>
                <span class="pull-right"> <i class="fa fa-eye" style="font-size:12px"> 1000</i></span>
            </div>
            <div class="detail">
                <p>Glyphicons in Bootstrap : Bootstrap Includes over 250 glyphs in font format </p>
                <img src="http://hpservicecenterschennai.in/images/hp_laptop_service_centers_in_guindy.png" alt="dsadas" />
                <a href="#" class="btn btn-info">Add To Cart</a>
                <a href="#" class="btn btn-info">Deatil</a>
            </div>
        </div>
    </div>
</div>